<header id="header" class="header">
    <i class="material-icons close">clear</i>
    <nav class="navigation">
        <div class="container">
            <a class="logo" href="{{ path('home') }}"></a>
            <a href="{{ path('home') }}" class="navigation-item {% if header_active is defined and header_active == 'home' %}active{% endif %}">{{ 'menu.home' | trans }}</a>
            {% for category in getRootCategories() %}
                <a href="{{ path('category products', {slug: category.slug}) }}" class="navigation-item {% if header_active is defined and header_active == category.slug %}active{% endif %}">{{ category }}</a>
            {% endfor %}
            <a href="{{ path('gallery') }}" class="navigation-item {% if header_active is defined and header_active == 'gallery' %}active{% endif %}">{{ 'menu.gallery' | trans }}</a>
        </div>
    </nav>
</header>