<div class="product">
    <div class="image">
        <img src="{{ asset('images/product.jpg') }}" alt="{{ product.title }}">
    </div>
    <div class="description">
        <h3>{{ product.title }}</h3>
        <h3 class="price">{{ product.price | priceFormat }} / {{ product.measurement }}</h3>
    </div>
</div>