<div class="product">
    <a href="{{ path('product', {slug: product.slug}) }}" class="link"></a>
    <div class="image">
        <img src="{{ asset('products/' ~ product.photoUrl) }}" alt="{{ product.title }}">
    </div>
    <div class="details">
        <h3 class="title">{{ product.title }}</h3>
        <span class="price">{{ product.price | priceFormat }} / {{ product.measurement }}</span>
    </div>
</div>